.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainc {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center; /* centers images horizontally */
  align-items: center;     /* aligns them vertically */
  gap: 10px;               /* adds space between images */
  flex-wrap: wrap;         /* lets them wrap to the next line if the screen is small */
}

.ab {
  width: 150px;            /* adjust image size */
  border-radius: 10px;     /* rounded corners (optional) */
  
}

.ab:hover {
  /*filter: brightness(70%);  /*darkened when hovered on*/
  transform: scale(1.1);
}

.cu{
  color: white;
  font-size: 200%;
  text-align: center;
  font-weight: bolder;
}
  